@import './index.css';

.contact-container{
    width: 600px;
}

.contact-input{
    background: rgb(44, 44, 44);
    box-sizing: border-box;
    width: 100%;
    height: 52px;
    padding: 12px;
    margin-bottom: 6px;
    border: 0px;
    font-size: 18px;
    outline: none;
}

.contact-textarea{
    height: 174px;
    resize: none;
}

.submit-button-container{
    margin-top: 10px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}