@import 'index.css';

@media (max-width: 950px) {
    .main-heading{
        flex-direction: column !important;
    }
}

.main-heading{
    font-size: clamp(28px, 4.5vw, 60px);
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: calc(100% - 80px);
    gap: min(10px, 10vw)
}

.main-heading-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: fit-content;
}

.main-heading p{
    max-width: 700px;
}

.view-page-button{
    position: relative;
    display: inline-block;
    color: var(--primary-color);
    font-size: clamp(20px, 3vw, 40px);
    font-weight: 500;
    text-align: center;
    text-justify: center;
    border: 4px solid var(--primary-color);
    border-radius: 5px;
    width: fit-content;
    height: fit-content;
    margin: clamp(15px, 2vw, 30px);
    margin-top: clamp(20px, 3vw, 40px);
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    text-decoration: none;
    transition: transform 0.3s ease;
}

.view-page-button:hover{
    transform:
        translateY(-2px) 
        scale(1.05);
}

.main-heading p{
    margin: 0px;
}