@import 'index.css';

.page-header{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main-heading{
    font-size: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: fit-content;
}

.main-heading-text{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-heading p{
    max-width: 700px;
}

.view-page-button{
    position: relative;
    display: inline-block;
    color: var(--primary-color);
    font-size: 40px;
    font-weight: 500;
    text-align: center;
    text-justify: center;
    border: 4px solid var(--primary-color);
    border-radius: 5px;
    width: fit-content;
    height: fit-content;
    margin: 30px;
    margin-top: 40px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    text-decoration: none;
    transition: transform 0.3s ease;
}

.view-page-button:hover{
    transform:
        translateY(-2px) 
        scale(1.05);
}

.main-heading p{
    margin: 0px;
}