@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
:root{
    --primary-color: rgb(51, 146, 187);
    --secondary-color: rgb(112, 206, 246);
    --accent-color: rgb(156, 225, 255);
    --primary-gradient: linear-gradient(to bottom right, var(--secondary-color) 0%, var(--primary-color) 100%) border-box;
    --border-gradient:  linear-gradient(#1c1c1c, #1c1c1c) padding-box,
                        linear-gradient(to bottom right, var(--secondary-color) 0%, var(--primary-color) 100%) border-box;
    --primary-font: 'Montserrat', sans-serif;
    --font-size-large: clamp(1.8rem, calc(7vw + 1rem), 3rem);
    --font-size-medium: clamp(1rem, calc(3.3vw + 0.5rem), 2.2rem);
    --font-size-small: clamp(0.75rem, calc(2vw + 0.5rem), 1.25rem);
}

html{
    scroll-behavior: smooth;
    font-family: var(--primary-font);
    font-size: 22px;
    font-weight: 300;
    color: white;
    max-width: 100%;
    overflow-x: hidden;
}

body{
    margin: 0px;
    background-color: #1c1c1c;
    color: white;
    justify-items: center;
}

p{
    text-align: justify;
    max-width: 800px;
    font-size: var(--font-size-small);
}

ul{
    list-style-type: none;
}

input{
    color: white;
    font-family: 'Montserrat', sans-serif;
}

textarea{
    color: white;
    font-family: 'Montserrat', sans-serif;
}

section{
    min-height: 500px;
}

#tsparticles{
    position: relative;
    z-index: -1;
}

.content{
    position: relative;
    z-index: 1;
}

.welcome-screen{
    height: 100dvh - 80px;
}

.container{
    max-width: 1600px
}

.welcome-message{
    font-size: 2.5em;
    background-color: rgb(108, 250, 37);
    color: white;
    padding: 10px;
    border-radius: 30px;
    margin: 10px;
}

.login-prompt{
    font-size: 2.5em;
    background-color: red;
    color: white;
    padding: 10px;
    border-radius: 5px;
    margin: 0;
}

.section-heading{
    font-family: 'Abril Fatface', sans-serif;
    margin-top: 95px;
    margin-bottom: 20px;
}

.section-heading::after{
    content: '';
    border-bottom: 18px solid var(--primary-color);
    display: block;
    margin: 0 auto;
    position: relative;
    left: 30px;
    bottom: 25px;
    z-index: -1;
}

.section-block{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.skills .container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 800px;
}

@media (min-width: 1600px){
    .about-skills-container{
        flex-direction: row;
        justify-content: center;
    }
}

.about .profile-icon{
    font-size: 50;
    height: 200px;
    margin-bottom: 20px;
}

.submit-button-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.nav-bar{
    z-index: 1000;
}

.project-card-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 32px;
    align-items: stretch;
}