
.project-card{
    height: fit-content;
    flex: 1;
    margin: 0.75rem;
    background-color: rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(139, 139, 139, 0.448);
    border-radius: 20px;
    overflow: hidden;
    min-width: 300px;
}

.project-card .project-image{
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
    white-space: normal;
    overflow-wrap: break-word;
}

.project-card .project-title{
    width: 100%;
    max-width: 600px;
}

.project-card .project-desc{
    width: 100%;
    max-width: 600px;
}

.project-card .project-skills{
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
    width: 100%;
}