@import './index.css';

.project-card{
    display: flex;
    flex-direction: column;
    flex: 1;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid rgba(139, 139, 139, 0.448);
    border-radius: 20px;
    overflow: hidden;
    min-width: 300px;
    transition: all 0.3s ease;
    &:hover{
        box-shadow: 0 0 32px var(--primary-color);
        border-color: var(--primary-color);
        .project-image{
            transform: scale(1.2);
        }
    }
}

.project-card .project-content{
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-content: space-between;
    z-index: 2;
}

.project-card .project-info{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.project-card .project-image{
    width: 100%;
    aspect-ratio: 3/2;
    display: block;
    object-fit: cover;
    white-space: normal;
    overflow-wrap: break-word;
    transition: all 0.3s ease;
    z-index: 1;
}

.image-container{
    overflow: hidden;
}

.project-card .project-title{
    font-weight: 800;
}

.project-card .project-desc{
    font-size: 16px;
    text-align: justify;
}

.project-card .project-skills{
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
    width: 100%;
}

.project-card .project-skills .skill-tag{
    font-size: 16px;
    padding: 4px 12px;
    border: 1px solid rgba(139, 139, 139, 0.448);
    border-radius: 12px;
}

.project-card .project-skills button{
    background: transparent;
    border: none;
    color: var(--primary-color);
    font-size: 16px;
    font-weight: bold;
    &:hover{
        cursor: pointer;
        color: var(--secondary-color);
    }
}

.project-card .project-links{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 12px;
}

.project-card a:hover{
    cursor: pointer;
}

.project-card a{
    color: inherit;
    text-decoration: none;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: 1px solid rgba(139, 139, 139, 0.448);
    border-radius: 12px;
    background-color: rgba(0, 0, 0, 0);
    padding: 8px;
    font-size: 20px;
    gap: 8px;
    min-width: fit-content;
    transition: all 0.5s ease;
}

.project-links .source-code.disabled {
    opacity: 0.4;
    cursor: not-allowed;
    pointer-events: none;
}

.project-links .live-demo{
    &:hover{
        background-color: var(--primary-color);
    }
}

.project-links .source-code{
    &:hover{
        border-color: var(--primary-color);
        background-color: color-mix(in srgb, var(--primary-color), transparent 72%);    }
}