@keyframes fadeInUp{
    from {
        opacity: 0;
        transform: translateY(40px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.fade-in-up{
    animation: fadeInUp 0.8s ease-out forwards;
}

@keyframes fadeInRight{
    from {
        opacity: 0;
        transform: translateX(-40px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.fade-in-right{
    animation: fadeInRight 0.8s ease-out forwards;
}

@keyframes Bobbing{
    0% {
        transform: translateY(-25px);    
    }
    50% {
        transform: translateY(-35px);    
    }  
    100% {
        transform: translateY(-25px);    
    }
}

.bobbing{
    animation: Bobbing 0.8s ease-out forwards;
}