.container{
    width: 100%;
}

@media (min-width: 400px) {
    .container {
        width: 85%;
        margin: 0 auto;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1200px;
        margin: 0 auto;
    }
}

h1{
    font-size: clamp(1.8rem, calc(7vw + 1rem), 3rem);
    text-align: center;
}

a:hover{
    cursor: pointer;
}