.container{
    width: 100%;
    padding: 10px;
}

@media (min-width: 768px) {
    .container {
        width: 90%;
        margin: 0 auto;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1400px;
        margin: 0 auto;
    }
}