@import './index.css';
@import './Animations.css';

footer{
    background-color: rgb(44, 44, 44);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 30px;
}

.home-button{
    color: white;
    background-color: var(--primary-color);
    transform: translateY(-25px);
    width: 42px;
    height: 55px;
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: -25px;
    border-radius: 5px;
}

.home-button:hover{
    animation: Bobbing 1.5s ease-in-out infinite;
}

.socials{
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}

.social-link{
    height: 45px;
    margin-left: 8px;
    margin-right: 8px;
    transition: transform 0.3s ease;
}

.social-link:hover{
    transform: scale(1.2);
}

.social-img{
    height:100%;
}

.copyright-text{
    font-size: 14px;
}