@import './index.css';

.skill-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, sans-serif;
    width: 160px;
    height: 90px;
    border: 4px solid transparent;
    border-radius: 20px;
    background: var(--border-gradiant);
    padding: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
}

.skill-image{
    height: 100%;
    margin-bottom: 10px;
}

.skill-title{
    font-size: 20px;
}