@import './index.css';

.submit-button{
    color: inherit;
    font-size: 18px;
    font-weight: bold;
    height: 50px;
    width: 100px;
    border-radius: 10px;
    background-color: var(--primary-color);
    border: none;
    transition: background-color ease 0.3s, color 0.3s ease;
}

.submit-button:hover{
    color: black;
    cursor: pointer;
    background-color: var(--secondary-color);
}